<p>
  Nextflow is a programming language used to code computational pipelines for multi-step data analyses
  and is particularly popular in the bioinformatics field.
  With Nextflow, you can run scientific pipelines in multi-platform and multi-cloud environments without changing the underlying pipeline code and these pipelines can be easily shared with the scientific community.
  We will use the Nextflow DSL2 syntax, which makes it easier to write well-structured modular code.
</p>

<p>
In this course you will learn to:

<ul>
    <li>Write Nextflow DSL2 scripts</li>
    <li>Develop Nextflow DSL2 workflows</li>
    <li>Run Nextflow DSL2 pipelines</li>
    <li>Develop Nextflow DSL2 modules and subworkflows</li>
    <li>Pass command line arguments to Nextflow</li>
    <li>Work with Nextflow configurations</li>
</ul>
</p>
