<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students, undergraduate students, summer students, postdoctoral fellows and any other researcher and it is intended for those who want to learn how to develop <a href="https://www.nextflow.io/">Nextflow</a> pipelines.

  Some reasons Nextflow is popular include its provision of good parallelization, scalability,
  structure/compartmentalization, ability to resume failed jobs,
  and portability across a range of run-time environments (e.g. localhost, SLURM, GCP, AWS, Kubernetes).
  <strong>
    You don't need to have any previous knowledge of Nextflow or the tools that will be presented at the workshop but you should have basic bash skills to succeed in this course.
    In this class, we will use the Nextflow programming language to develop a simple bioinformatics pipeline.
  </strong>
</p>
